nav {
    color: $clr4;
    display: flex;
    justify-content: center;
  
    .category-slider {
      display: flex;
    }
  
    .category-slider > .bold-category {
      height: 60px;
      border-bottom: 2px solid #e32652;
      font-weight: bold;
    }
    
    .category-slider > * {
      border-bottom: 2px solid #272c33;
      transition: border-bottom-color 0.5s linear;
      padding: 8px 30px;
      font-family: Lato;
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 0.75px;
      text-align: left;
    }
  }
