.video-container {
    // background-color: red;
    width: 93%;
    margin: 0 auto;

    .video-player {
        margin-bottom: 10px;
        width: 100%;
      
        iframe {
          width: 100%;
          height: 100%;
        }
    }

    .video-list {
        color: white;
        & :not(:last-child) {

            span {
                margin-bottom: unset;

            }
        }
    }


}
.blue-bg-btn {
    background: rgba(255, 162, 74, 1) !important; /* Use !important to ensure the style takes precedence */
    color: black; 
    width: 40px;
height: 38.48px;

    /* Add other button styles as needed */
  }
  
  