.video-preview {
    background-color: #222326;
    &.playing {
        border: 1px solid white; /* Dashed red border when playing */
    }

    .preview-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 8px;
    }

    .action-heading-container {
        display: flex;
        align-items: center;

        .play-pause-btn {
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background-color: #e32652; 
            margin-left: 10px;

          
        }
    }
}
