.video-container {
    // background-color: red;
    width: 93%;
    margin: 0 auto;

    .video-player {
            margin-bottom: 10px;
            height: 188.3px;
            width: 100%;
    }

    .video-list {
        color: white;
        & :not(:last-child) {

            span {
                margin-bottom: unset;

            }
        }
    }


}
.blue-bg-btn {
    background-color: blue !important; /* Use !important to ensure the style takes precedence */
    color: white; /* Set the text color to white for better visibility */
    /* Add other button styles as needed */
  }
  
  