.playerDrills {
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    direction: rtl;

    .underline{
      width: 297px;
      margin: 0 auto 20px;
      border: none;
      border-top: 1.56px solid white;
      margin-bottom: 45px;
    }
  }
  
  .playerDrills h1 {
    font-family: Lato;
    font-size: 32.42px;
    font-weight: 700;
    line-height: 40.52px;
    letter-spacing: 1.2156862020492554px;
    text-align: center;
    color: #fff;
  }
  
  .team-selection {
    margin-left: 15%;
    margin-right: 15%;
    border: 0.88px solid rgb(222, 73, 110);
    border-radius: 10px;
    background: rgb(34, 35, 38);
    box-shadow: 0px 7.02px 14.03px 0px rgba(255, 255, 255, 0);
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .team-selection h2 {
    margin-bottom: 15px;
    color:white;
    font-family: Lato;
    font-size: 24.22px;
    font-weight: 700;
    line-height: 30.28px;
    
  }
  
  .team-selection select {
    width: 90%;
    padding: 8px;
    border: 0.88px solid rgb(222, 73, 110);
    border-radius: 4px;
    font-size: 16px;
    background: rgb(34, 35, 38);
    color: #fff;
  }
  
  .assign-team-button
  {
    margin-left: 25%;
    margin-right: 25%;
    background: rgb(0, 0, 0);
    border: 1.11px solid rgb(255, 162, 74);
    color: rgb(255, 162, 74);
    border-radius: 8px;
    font-family: Lato;
    font-size: 18.8px;
    font-weight: 700;
    line-height: 23.5px;
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.assign-team-button.clicked {
  background: rgba(255, 162, 74, 1);
  color: black;
  border: 1.11px solid rgba(0, 0, 0, 1);
  border-radius: 8px;
}
  .submit-button {
    margin-top: 10px;
    background: #d23c55;
    border: 1.07px solid #fff;
    border-radius: 15px;
    color: #fff;
    font-family: Lato;
    font-size: 24.22px;
    font-weight: 700;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 12vh;

  }
  
  .players-table {
    border: .88px solid #de496e;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-right: 5%;
    margin-top: 20px;
    width: 90%;
}
  
  .players-table th,
  .players-table td {
    border: 0.88px solid rgb(222, 73, 110);
    padding: 8px;
    text-align: right;
    font-family: Lato;
    font-size: 24.22px;
    font-weight: 700;
    line-height: 30.28px;
    color: #fff;
  }
  
  .players-table th {
    background-color: #444;
    color: #fff;
  }
  
  .players-table tr:nth-child(even) {
    background-color: #3a3a3a;
  }
  
  .players-table tr:nth-child(odd) {
    background-color: #2a2a2a;
  }
  
  input[type='checkbox'] {
    transform: scale(1.5);
    cursor: pointer;
  }
  