.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 1vh 1vw;
  border-radius: 0.4vw;
  margin-bottom: 1vh;
  color: white;
  direction: rtl;
  text-align: right;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
  color: red;
  margin-right: 1vw;
  min-width: 10vw;
}

.task-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
}

.add-icon {
  color: #e32652;
  cursor: pointer;
  margin-left: 1vw;
  align-self: center;
  font-size: 2.4vh;
}

.add-icon.disabled {
  color: rgb(204, 37, 37);
}

.new-event-button {
  display: block;
  margin: 2vh auto;
  padding: 1vh 10vw;
  font-size: 1.5em;
  background-color: #e32652;
  color: white;
  border: none;
  border-radius: 2vw;
  cursor: pointer;
}

.new-event-button:hover {
  background-color: #d81b4e;
}

.signup-form {
  margin-bottom: 10vh;
}

.input-label {
  font-size: 1.5em;
  margin-bottom: 1vh;
}

.select-container {
  position: relative;
  display: inline-block;
}

.select-container select {
  font-size: 1.5em;
  min-width: 80vw;
  position: relative;
  border: 3px solid rgba(210, 60, 85, 1);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.75px;
  text-align: right;
  color: black; 
  background: white;  

}


.custom-input-container select {
  max-height: 20vh;
  min-width: 80vw;
  position: relative;
  border: 3px solid rgb(210, 60, 85);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.75px;
  text-align: right;
  color: black;
  background: white;
}
.custom-input-container input{
  max-height: 20vh;
  min-width: 80vw;
  position: relative;
  border: 3px solid rgb(210, 60, 85);
  font-family: Lato;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.75px;
  text-align: right;
  color: black;
  background: white;
}
.custom-input-container span {
  font-size: 1.5em;
}

// numbers on the task list
.task-list span {
  margin-left: 2vw;
  font-weight: bold;
  font-size: 1.25em;
}

.task-input-container select {
  max-height: 20vh;
  overflow-y: auto;
  margin-right: 2vw;
  margin-left: 2vw;
  font-size: 1em;
  padding: 0.5vh 0.5vw;
}

.time-selector {
  margin-right: 50vw;
}

.error-message {
  color: red;
  font-size: 1.4em;
  text-align: center;
  margin-top: 0;
  position: relative;
}


.add-team-popup {
  align-items: center;
  align-content: center;

}

.event-card {
  width: 70vw;
  border: 1vw solid #ccc;
  border-radius: 3vw;
  margin: 3vh 0vw;
  margin-right: 25vw;
  height: 12vh;
  background: white;
  color: black;
  padding: 1vw;
  box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;


  .event-card-title {
    h1 {
      font-family: Lato;
      font-size: 20px;
    font-weight: 700;
        line-height: 25px;
      letter-spacing: 0.8713474273681641px;
    text-align: right;
    color: black;
      text-align: right;
    }

    position: absolute;
    top: 0vw;
    /* Adjusted */

    width: 100%;
    border-radius: 10vw;
  }

  .start-time-right {
    font-family: Lato;
font-size: 20px;
font-weight: 700;
line-height: 25px;

    margin-right: -22vw;
    font-weight: bold;

    h2 {
      color: white;
    }
  }
}

.event-card.practice {
  border: 3px solid rgba(210, 60, 85, 1)
}

.event-card.game {
  border-color: #001aff;
}

.event-cards-container {
  max-height: 70vh;
  /* Adjust the height as needed */
  overflow-y: auto;
}

.event-team {
  font-family: Lato;
text-align: right;
color: black;
  text-align: right;
position: absolute;
top: 40%;
h2 {
  font-size: 20px;
font-weight: 700;
    line-height: 25px;
  letter-spacing: 0.8713474273681641px;
}
}
.eventView {
  .content {
  padding: 20px;
  font-family: Arial, sans-serif;
  }
  .bigTitle {
    color: white;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;

    input {
      width: 100%;
      text-align: center;
      border: none;
      background: transparent;
      /* font-size: 1em; */
      color: white;
      outline: none;
      font-family: Lato;
      font-size: 24px;
      font-weight: 700;
      line-height: 32.4px;
      text-align: center;
      border-bottom: 1px solid rgba(210, 60, 85, 1);
    }
  }

  .taskList {
    background: white;
    padding: 10px;
    border: 3px solid rgba(210, 60, 85, 1);
    border-radius: 15px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.8713474273681641px;
    text-align: right;
    ul {
      list-style: none;
      padding: 0;
      text-align: right;
      
      li {
        margin-bottom: 10px;
        padding-right: 20px;
        position: relative;

      }
    }
  }

  .cta-bar-container {
    margin-top: 20px;
  }
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;

  .new-event-button,
  .reverse-button {
    display: block;
    margin: 2vh auto;
    font-size: 1.5em;
    border: none;
    padding: 7px 15px;
    border-radius: 15px;
    cursor: pointer;
  }

  .new-event-button {
    background-color: #e32652;
    color: white;
  }

  .reverse-button {
    background-color: white;
    color: #e32652;
    border: 2px solid #e32652;
  }
}
