// setup
@import "setup/variables.scss";
@import "setup/functions.scss";
@import "setup/mixins.scss";
@import "setup/layout.scss";
@import "setup/typography.scss";

// basics
@import "./basics/helpers";
@import "./basics/base";
@import "./basics/coach";
@import "./basics/buttons";
@import "./basics/player-profile";
@import "./basics/playerDrills";
@import "./basics/notificaitions";
//VIEWS
// general


// story


// quote

// cmps
@import "./cmps/header";
@import "./cmps/cta-bar";
@import "./cmps/nav";
@import "./cmps/video-modal";
@import "./cmps/video-app";
@import "./cmps/video-preview";
@import "./cmps/subvideo-preview";
@import "./cmps/game-score";
@import "./cmps/coachGamesView";
@import "./cmps/calender";
@import "./cmps/assignDrill";


// @import "./views/template-edit2";

body {
    margin: 0;
    background-color: $clr1;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video-hero {
    height: 70vh;
    filter: grayscale(100%);
    margin-left: 2px;
}

.video-hero2 {
    height: 93vh;
    margin-left: 2px;
}

.cta-bar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 1000;
    color: $clr4;
    background: transparent;
    
  }
  


    .cta-bar {
        background: rgba(255, 255, 255, 1);
        border: 0.94px solid;
        border-image-source: linear-gradient(91.95deg, #E8E8E8 3.07%, rgba(215, 215, 215, 0) 104.48%);
        border-radius: 10px;
        position: fixed;
        bottom: 10px;
        padding: 10px;
        left: 20px;
        width: 90%;
        height: 7vh;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        justify-content: space-around;
        align-items: center;
        /* background: #333; */
        color: #fff;
        z-index: 1000;
        direction: ltr;
        color: rgba(133, 132, 132, 1);

    .ic-container {
        display: flex;
        flex-direction: column;
        line-height: 1;
        &.ic-active {
            border-bottom: 2px solid rgb(210, 60, 85);
            font-weight: bold;
        }
    }
}

.cta-container {
    position: relative;

}

.ic-container svg {
    margin-top: 8px;
    font-size: 30px;
}


.home-page {
    display: flex;
    flex-direction: column;
    // background-image: url("../../images/homepage-background-rotate.jpg");
    background-size: cover;
    flex: 1;

    .dark-fade-div {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1;
        background: linear-gradient(90.14deg, rgba(40, 40, 40, 0.5) 44.72%, rgba(63, 63, 63, 0) 100.05%);
        // background: linear-gradient(90.14deg, rgba(40, 40, 40, 0.5) 44.72%, rgba(63, 63, 63, 0) 80.05%);
    }

    .light-fade-div {
        width: 100%;
        flex: 1;
        background: linear-gradient(90.14deg, rgba(255, 255, 255, 0.5) 50.01%, rgba(255, 255, 255, 0) 74.94%);
    }

    .home-header-content {
        // padding-bottom: 30px;
        font-family: Rubik;
        display: none;

        @include for-normal-layout {
            display: block;
        }

        h1 {
            font-size: rem(30px);
            margin-bottom: 3px;

            @include for-normal-layout {
                font-size: rem(34px);
            }

            @include for-wide-layout {
                font-size: rem(42px);
            }
        }

        p {
            font-size: rem(16px);
            margin: 0;

            @include for-normal-layout {
                font-size: rem(20px);
            }

            @include for-wide-layout {
                font-size: rem(24px);
            }
        }
    }

    .headers-container {
        margin-bottom: 24px;
    }

    .call-to-action-section {
        p {
            margin: 0;
            font-weight: 500;
            font-size: rem(16px);

            @include for-normal-layout {
                font-size: rem(20px);
            }

            @include for-wide-layout {
                font-size: rem(24px);
            }
        }

        .cta-btn {
            width: 350px;
            margin: 20px 0px 0px;

            @include for-normal-layout {
                width: 400px;
            }

            @include for-wide-layout {
                width: 450px;
            }
        }
    }

    .register-modal {
        @include for-normal-layout {
            grid-column: 2;
            grid-row: 1/3;
            padding: 0 50px;
        }

        &__input {
            padding: rem(13px);
            margin-bottom: rem(8px);
            width: 100%;
            border-radius: 3px;
            border: none;

            &:focus {
                outline: none;
                border: 1px solid #232323;
            }
        }

        .password-options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 8px 0;
            font-size: rem(14px);

            &__remmember-user {
                display: flex;
                align-items: center;
            }

            &__show-password {
                all: unset;
                cursor: pointer;
            }
        }

        &__cta-btn {
            width: 100%;
        }

        &__alternatives-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__or-seperator {
            margin: 8px 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .border {
                height: 1px;
                width: 100%;
                background-color: white;
                margin: 10px 0;
            }

            p {
                margin: 0;
                padding: 0 30px;
                color: white;
            }
        }

        .register-basic-btn {
            padding: 13px;
            width: 100%;
            border: none;
            margin-bottom: rem(8px);
        }

        &__alternative-btn {
            color: white;
            background-color: #232323;
            @extend .register-basic-btn;
        }

        &__facebook-btn {
            background-color: #395185;
            color: white;
            @extend .register-basic-btn;
        }

        &__google-btn {
            padding: 13px;
            width: 100%;
            border: none;
            margin-bottom: rem(24px);
        }

        &__skip-link {
            color: white;
        }
    }
}

.baba {
    height: 400px;
}

.active {
    border-bottom: 2px solid white;

}